@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Inter:wght@400;500;600;700;800&display=swap');

body{
    background-image: url(bg.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.teks1{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
}

.w1{
    font-family: 'Carter One', cursive;
    text-transform: uppercase;
    color: white;    
    margin: 0;
    font-size: 110px;
}

.w2{    
    font-family: 'Carter One', cursive;
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-size: 90px;
}

#w3{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin-top: 50px;
}

#btn{
    background-color: rgba(0, 34, 255, 0.64);
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    color: wheat;
    font-family: 'Carter One', cursive;
    font-size: 50px;
    text-decoration: none;
    border: 8px solid white;
    border-radius: 40px;
}

